{% extends 'base.html' %}

{% block title %}
    COINVE: TecnoFácil
{% endblock %}

{% block content %}
        <div class="container-fluid">
            <!-- Encabezado -->
           
            <!-- Navegación -->
              
            <!-- Contenido principal -->
            <section class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="sistema">
                            <h1>Sistema COINVE: Control de Inventario y Gestión de Ventas</h1>
                            <div class="row">
                                <div class="col-md-4">
                                    <img alt="Imagen Bodega" src="imagenes/Inven_Bodega.png">
                                </div>
                                <div class="col-md-8">
                                    <p>Descubre cómo el Sistema COINVE de TecnoFácil te ayuda a optimizar la gestión de tu inventario y potenciar tus ventas. Con nuestra solución integral, podrás controlar eficientemente el stock de productos, gestionar proveedores de manera efectiva, procesar pedidos de forma ágil y obtener informes detallados sobre tus ventas y rendimiento. Confía en nosotros para simplificar tus procesos diarios y maximizar la productividad de tu negocio.</p>
                                </div>
                            </div>
                            <div class="modulos">
                                <div class="row">
                                    <div class="col-md-6">
                                        <article>
                                            <h4>INVENTARIO</h4>
                                            <img alt="Icono inventario" src="imagenes/Icono_inven.png">
                                            <p>Con el módulo de inventario de COINVE, podrás llevar un registro detallado de tus productos, proveedores, entradas de productos, pedidos y devoluciones. Controla eficientemente tu inventario y accede a informes precisos sobre tus existencias para una gestión óptima.</p>
                                        </article>
                                    </div>
                                    <div class="col-md-6">
                                        <article>
                                            <h4>VENTAS</h4>
                                            <img alt="Icono ventas" src="imagenes/Icono_venta.png">
                                            <p>Optimiza tus ventas con el módulo de ventas de COINVE. Registra a tus clientes, emite facturas y notas de crédito/débito de forma fácil y rápida. Accede a informes detallados sobre tus ventas para comprender mejor el rendimiento de tu negocio y tomar decisiones estratégicas.</p>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
             <!-- Pie de página -->
{% endblock %}
